:root {
    --logo-color: #FFF;
    --accent-color: #49464F;
    --text-color: #2E2C34;
    --main-color: #7140EB;
    --background-gradient: linear-gradient(to bottom, #ffffff, #f0f0f0); 
    --section-backraund: #F5F5F7;
}



